<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

        
    <%- include("../partials/header.ejs") %>
    
    <section>

        <h1>Welcome to Tech Dilawar khan</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente excepturi vel ipsa numquam ipsam accusantium quos cum est asperiores quia architecto magni beatae odio molestiae, ipsum fuga ea in? Asperiores cumque iure quo tenetur perferendis architecto reiciendis laboriosam repellat quod illo ratione maiores hic, nostrum eligendi similique sapiente. Quia, neque!
        </p>
    </section>



</body>
</html>